In [161]:
import pandas as pd
import numpy as np

In [233]:
advTeamStats = pd.read_csv("Basketball_Stats/advanced_team_stats.csv")
finalSVUStats = pd.read_csv("Basketball_Stats/final_svu_teams.csv")
miscTeamStats = pd.read_csv("Basketball_Stats/misc_team_stats.csv")
winslosses = pd.read_csv("Basketball_Stats/nbaseas.csv")
shotinfo = pd.read_csv("Basketball_Stats/nbaseas2.csv")

In [202]:
advTeamStatsDF = advTeamStats.drop_duplicates()

In [204]:
finalSVUStats.head()

,cfga,cfgm,dfga,dfgm,dist,drbc,ftast,game_id,opponent_id,orbc,pass,period,sast,season,spd,tchs,team_id,ufga,ufgm,team
0,39,17,33,13,9.99,56,3,21400008,1610612761,23,127,f,9,2014,0,127,1610612737,41,23,Hawks
1,28,12,26,17,9.99,58,4,21400032,1610612754,12,127,f,5,2014,0,127,1610612737,41,23,Hawks
2,51,23,35,19,9.99,50,1,21400064,1610612759,32,127,f,3,2014,0,127,1610612737,41,15,Hawks
3,45,21,34,23,9.99,53,1,21400071,1610612766,14,127,f,6,2014,0,127,1610612737,48,22,Hawks
4,42,19,35,23,9.99,52,3,21400084,1610612752,21,127,f,4,2014,0,127,1610612737,39,14,Hawks

In [205]:
miscTeamStats.head()

,blk,blka,game_id,opp_pts_2nd_chance,opp_pts_fb,opp_pts_off_tov,opp_pts_paint,opponent_id,period,pf,pfd,pts_2nd_chance,pts_fb,pts_off_tov,pts_paint,season,team_id,team
0,8,9,21400008,26,18,23,40,1610612761,f,24,22,11,10,14,36,2014,1610612737,Hawks
1,6,5,21400032,24,5,13,26,1610612754,f,20,26,5,15,20,28,2014,1610612737,Hawks
2,5,9,21400064,14,18,15,34,1610612759,f,25,15,13,11,14,40,2014,1610612737,Hawks
3,2,7,21400071,22,1,22,50,1610612766,f,30,28,11,15,18,38,2014,1610612737,Hawks
4,5,6,21400084,15,9,12,40,1610612752,f,17,29,19,10,17,34,2014,1610612737,Hawks

In [243]:
shotinfo.rename(columns = {"Team":"team"}).head()

,team,season,FGM,FGA,FG%,2pm,2pa,2p%,3PM,3PA,...,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,+/-
0,Warriors,2014,3410,7137,47.8,2527,4920,0.513618,883,2217,...,2814,3667,2248,1185,762,496,293,1628,1541,828
1,Hawks,2014,3121,6699,46.6,2303,4547,0.506488,818,2152,...,2611,3326,2111,1167,744,380,404,1457,1611,445
2,Rockets,2014,3032,6832,44.4,2099,4152,0.505539,933,2680,...,2624,3582,1820,1366,776,407,437,1803,1730,282
3,Clippers,2014,3228,6830,47.3,2401,4628,0.518799,827,2202,...,2711,3495,2031,1012,640,409,245,1749,1766,540
4,Grizzlies,2014,3097,6763,45.8,2674,5517,0.484684,423,1246,...,2634,3490,1777,1094,700,347,424,1567,1662,266

In [166]:
advmiscteam = advTeamStats.merge(miscTeamStats,on="game_id")

In [167]:
advmiscsvuDF = advmiscteam.merge(finalSVUStats,on="game_id")

In [232]:
teamsDF = advmiscsvuDF[['game_id','team','season','ufga','ufgm','pts_off_tov','pts_paint']]
teamsDF.head()

    game_id     team  season  ufga  ufgm  pts_off_tov  pts_paint
0  21400008    Hawks    2014    41    23           14         36
1  21400008  Raptors    2014    43    17           14         36
2  21400008    Hawks    2014    41    23           23         40
3  21400008  Raptors    2014    43    17           23         40
4  21400008    Hawks    2014    41    23           14         36

In [225]:
teamsDF2 = teamsDF.groupby(["team","game_id","season"]).mean()

In [237]:
teamsDF3 = teamsDF2.reset_index()
teamsDF3.head()

    team   game_id  season  ufga  ufgm  pts_off_tov  pts_paint
0  76ers  21400005    2014  22.0   8.0         18.5       40.0
1  76ers  21400023    2014  33.0  13.0         21.5       46.0
2  76ers  21400030    2014  31.0  15.0         25.0       40.0
3  76ers  21400043    2014  36.0  17.0         31.0       33.0
4  76ers  21400058    2014  39.0  17.0         17.0       50.0

In [236]:
teamsDF4 = teamsDF3[['team','season','ufga','ufgm','pts_off_tov','pts_paint']]
teamsDF4.head()

    team  season  ufga  ufgm  pts_off_tov  pts_paint
0  76ers    2014  22.0   8.0         18.5       40.0
1  76ers    2014  33.0  13.0         21.5       46.0
2  76ers    2014  31.0  15.0         25.0       40.0
3  76ers    2014  36.0  17.0         31.0       33.0
4  76ers    2014  39.0  17.0         17.0       50.0

df1 = teamsDF4.loc[teamsDF4["team"]=="Bulls"]

writer = pd.ExcelWriter('NBA.xlsx')
df1.to_excel(writer,'Sheet1')

In [228]:
teamsDF5 = teamsDF4.groupby(["team","season"]).mean()
teamsDF6 = teamsDF5.reset_index()
teamsDF6["ufgp"] = teamsDF6["ufgm"] / teamsDF6["ufga"]
teamsDF6.sort_values("ufgp",ascending = False).head()

        team  season       ufga       ufgm  pts_off_tov  pts_paint      ufgp
85  Warriors    2015  40.228155  19.873786    16.713592  44.048544  0.494027
89   Wizards    2016  38.444444  18.000000    16.888889  42.000000  0.468208
84  Warriors    2014  39.825243  18.601942    17.111650  43.019417  0.467089
86  Warriors    2016  39.888889  18.555556    17.777778  46.777778  0.465181
15  Clippers    2014  42.312500  19.604167    15.432292  39.135417  0.463319

df1 = teamsDF5
writer = pd.ExcelWriter('NBADF.xlsx')
df1.to_excel(writer,'Sheet1')

In [229]:
winslosses2 = winslosses.rename(columns={"Team":"team","Season":"season"})
winslosses2.head()

       team  Wins  Losses  season
0     Spurs    62      20    2014
1   Thunder    59      23    2014
2  Clippers    57      25    2014
3    Pacers    56      26    2014
4   Rockets    54      28    2014

In [230]:
FinalNBADF = teamsDF6.merge(winslosses2,on=["team","season"])

In [231]:
FinalNBADF.sort_values("Wins",ascending=False).head()

,team,season,ufga,ufgm,pts_off_tov,pts_paint,ufgp,Wins,Losses
54,Warriors,2016,39.888889,18.555556,17.777778,46.777778,0.465181,73,9
46,Spurs,2016,38.700000,16.400000,14.200000,36.900000,0.423773,67,15
45,Spurs,2014,37.876404,16.483146,15.494382,43.550562,0.435182,62,20
49,Thunder,2014,37.390244,16.207317,15.969512,43.841463,0.433464,59,23
10,Clippers,2014,42.312500,19.604167,15.432292,39.135417,0.463319,57,25

In [249]:
shotinfo.head()

,Team,season,FGM,FGA,FG%,2pm,2pa,2p%,3PM,3PA,...,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,+/-
0,Warriors,2014,3410,7137,47.8,2527,4920,0.513618,883,2217,...,2814,3667,2248,1185,762,496,293,1628,1541,828
1,Hawks,2014,3121,6699,46.6,2303,4547,0.506488,818,2152,...,2611,3326,2111,1167,744,380,404,1457,1611,445
2,Rockets,2014,3032,6832,44.4,2099,4152,0.505539,933,2680,...,2624,3582,1820,1366,776,407,437,1803,1730,282
3,Clippers,2014,3228,6830,47.3,2401,4628,0.518799,827,2202,...,2711,3495,2031,1012,640,409,245,1749,1766,540
4,Grizzlies,2014,3097,6763,45.8,2674,5517,0.484684,423,1246,...,2634,3490,1777,1094,700,347,424,1567,1662,266

In [252]:
shotinfo2 = shotinfo[["Team", "season"]]

In [246]:
shotinfo2 = shotinfo.rename(columns = {"Team":"team"})

In [248]:
FinalNBADFshot = FinalNBADF.merge(shotinfo2,on=["team","season"])
FinalNBADFshot

,team,season,ufga,ufgm,pts_off_tov,pts_paint,ufgp,Wins,Losses,FGM,...,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,+/-
0,76ers,2014,36.146341,14.073171,18.908537,41.256098,0.389339,19,63,2765,...,2536,3514,1683,1453,789,487,454,1778,1657,-736
1,76ers,2016,43.444444,17.444444,17.388889,42.222222,0.401535,10,72,3088,...,2706,3513,1949,1366,692,420,446,1793,1610,-467
2,Bucks,2014,37.068182,16.556818,17.971591,40.875000,0.446658,15,67,3083,...,2574,3450,1932,1373,789,403,392,1814,1649,35
3,Bucks,2016,35.777778,14.555556,18.333333,45.666667,0.406832,33,49,3182,...,2589,3312,1984,1145,666,436,375,1660,1579,-15
4,Bulls,2014,35.978947,15.431579,14.642105,40.242105,0.428906,48,34,3001,...,2792,3751,1781,1145,514,476,443,1495,1736,246
5,Bulls,2016,36.900000,16.000000,16.750000,45.000000,0.433604,42,40,3169,...,2797,3796,1851,1112,643,393,378,1455,1541,35
6,Cavaliers,2014,36.776699,15.970874,15.669903,41.233010,0.434266,33,49,3089,...,2612,3523,1814,1171,603,340,368,1510,1685,367
7,Cavaliers,2016,43.750000,19.125000,15.625000,39.375000,0.437143,57,25,3275,...,2821,3587,1858,1121,539,327,349,1486,1690,261
8,Celtics,2014,40.872093,17.313953,16.691860,42.976744,0.423613,25,57,3193,...,2685,3595,2009,1133,674,294,431,1738,1545,13
9,Celtics,2016,38.777778,16.888889,15.611111,43.333333,0.435530,48,34,3168,...,2698,3442,2069,1088,617,340,425,1686,1664,216
10,Clippers,2014,42.312500,19.604167,15.432292,39.135417,0.463319,57,25,3228,...,2711,3495,2031,1012,640,409,245,1749,1766,540
11,Clippers,2016,37.800000,16.700000,15.500000,41.000000,0.441799,53,29,3242,...,2790,3528,1848,1062,612,347,258,1626,1835,352
12,Grizzlies,2014,36.473118,15.849462,15.209677,42.494624,0.434552,50,32,3097,...,2634,3490,1777,1094,700,347,424,1567,1662,266
13,Grizzlies,2016,44.888889,17.111111,18.055556,39.666667,0.381188,42,40,2984,...,2621,3507,1744,1059,653,344,410,1840,1708,40
14,Hawks,2014,41.757576,18.656566,16.747475,40.585859,0.446783,38,44,3121,...,2611,3326,2111,1167,744,380,404,1457,1611,445
15,Hawks,2016,39.000000,17.777778,20.444444,43.555556,0.455840,48,34,3123,...,2793,3635,1938,1294,672,397,424,1491,1768,-70
16,Heat,2014,32.902439,14.036585,16.426829,40.304878,0.426612,54,28,2885,...,2461,3208,1626,1214,642,372,359,1636,1715,-213
17,Heat,2016,36.625000,14.875000,15.062500,43.500000,0.406143,48,34,3202,...,2705,3577,1742,1102,588,469,398,1680,1530,87
18,Hornets,2016,40.250000,16.125000,15.500000,41.125000,0.400621,48,34,3093,...,2853,3574,1891,942,571,390,450,1360,1631,16
19,Jazz,2014,36.768293,15.329268,16.304878,40.536585,0.416915,25,57,2900,...,2617,3605,1632,1256,623,489,382,1583,1604,18
20,Jazz,2016,35.818182,14.909091,13.500000,37.727273,0.416244,40,42,3033,...,2774,3545,1651,1118,550,410,312,1545,1655,323
21,Kings,2014,33.609756,15.134146,16.896341,44.439024,0.450290,28,54,3010,...,2728,3623,1667,1333,550,324,508,1696,1958,-304
22,Kings,2016,33.818182,14.000000,17.545455,41.545455,0.413978,33,49,3105,...,2652,3367,1844,1201,627,324,420,1667,1646,-318
23,Knicks,2014,38.219512,16.768293,15.865854,37.219512,0.438736,37,45,2882,...,2443,3310,1746,1206,575,382,353,1768,1564,-764
24,Knicks,2016,37.111111,16.000000,14.333333,44.888889,0.431138,32,50,3244,...,2723,3706,1786,1139,581,455,377,1668,1516,-301
25,Lakers,2014,34.426829,14.792683,15.189024,42.487805,0.429685,27,55,3054,...,2647,3599,1715,1086,578,366,396,1741,1589,-561
26,Lakers,2016,34.400000,15.300000,19.300000,48.500000,0.444767,17,65,3224,...,2636,3569,1716,1243,674,320,440,1698,1520,-564
27,Magic,2014,36.219512,16.097561,16.634146,43.085366,0.444444,23,59,3076,...,2607,3429,1692,1221,647,314,441,1714,1467,-469
28,Magic,2016,39.222222,14.666667,14.277778,44.111111,0.373938,35,47,3139,...,2734,3541,1820,1091,580,396,419,1584,1532,-539
29,Mavericks,2014,41.712644,18.448276,17.178161,42.356322,0.442271,49,33,3255,...,2608,3466,1846,1062,663,371,314,1644,1816,238
30,Mavericks,2016,42.500000,17.125000,14.625000,35.625000,0.402941,42,40,2968,...,2516,3163,1705,972,614,307,280,1567,1591,-240
31,Nets,2014,34.238636,14.602273,15.073864,44.011364,0.426485,44,38,3069,...,2627,3473,1716,1133,576,340,372,1579,1641,-236
32,Nets,2016,38.333333,14.777778,17.777778,45.444444,0.385507,21,61,3102,...,2879,3600,1756,1356,593,387,457,1726,1671,-552
33,Nuggets,2014,36.902439,15.060976,16.646341,43.841463,0.408130,36,46,3099,...,2653,3665,1788,1166,641,367,504,1882,1698,-291
34,Nuggets,2016,36.555556,14.555556,17.500000,48.555556,0.398176,33,49,3377,...,2837,3803,2077,1226,568,323,404,1567,1653,42
35,Pacers,2014,37.219512,16.109756,14.853659,37.682927,0.432831,56,26,2998,...,2822,3678,1757,1147,505,375,386,1742,1754,23
36,Pacers,2016,41.800000,18.600000,21.050000,45.400000,0.444976,45,37,3221,...,2702,3444,1844,1130,669,409,407,1597,1599,-18
37,Pelicans,2014,36.488372,16.011628,14.302326,45.534884,0.438815,34,48,3108,...,2621,3563,1806,1087,553,510,475,1530,1533,65
38,Pelicans,2016,45.900000,18.200000,15.600000,45.000000,0.396514,30,52,3210,...,2879,3582,1869,1054,638,453,348,1490,1581,-172
39,Pistons,2014,34.048193,14.506024,15.855422,43.771084,0.426044,29,53,3041,...,2630,3681,1771,1099,623,383,391,1559,1584,-82
40,Pistons,2016,38.900000,15.700000,14.000000,41.800000,0.403599,44,38,3269,...,2838,3746,1732,973,574,310,339,1467,1434,-92
41,Raptors,2014,33.023256,14.418605,15.598837,43.383721,0.436620,48,34,3108,...,2526,3407,1701,1057,615,357,413,1712,1668,252
42,Raptors,2016,35.555556,14.555556,15.055556,43.444444,0.409375,56,26,3211,...,2676,3547,1517,1041,677,400,392,1708,1666,345
43,Rockets,2014,36.262626,15.222222,18.510101,45.414141,0.419777,54,28,3032,...,2624,3582,1820,1366,776,407,437,1803,1730,282
44,Rockets,2016,39.777778,18.333333,17.000000,44.333333,0.460894,41,41,3305,...,2746,3638,2070,1240,670,352,409,1634,1674,473
45,Spurs,2014,37.876404,16.483146,15.494382,43.550562,0.435182,62,20,3208,...,2772,3578,2000,1146,657,444,362,1564,1613,508
46,Spurs,2016,38.700000,16.400000,14.200000,36.900000,0.423773,67,15,3222,...,2777,3598,1954,1101,655,484,333,1498,1623,590
47,Suns,2014,38.951220,16.512195,17.396341,43.987805,0.423920,48,34,3178,...,2643,3539,1659,1238,700,385,337,1744,1664,-74
48,Suns,2016,31.300000,12.600000,18.050000,45.100000,0.402556,23,59,3270,...,2712,3688,1604,1265,673,399,435,2030,1822,-462
49,Thunder,2014,37.390244,16.207317,15.969512,43.841463,0.433464,59,23,3184,...,2844,3896,1681,1205,598,454,377,1829,1675,179
50,Thunder,2016,38.777778,15.777778,16.888889,46.111111,0.406877,55,27,3237,...,2821,3823,1721,1230,648,408,450,1715,1697,62
51,Timberwolves,2014,31.939024,13.768293,17.420732,44.670732,0.431081,40,42,2986,...,2406,3355,1771,1231,668,327,449,1571,1751,-721
52,Timberwolves,2016,33.125000,14.500000,18.562500,46.500000,0.437736,29,53,3235,...,2540,3478,1940,1150,654,370,413,1646,1681,-91
53,Warriors,2014,39.825243,18.601942,17.111650,43.019417,0.467089,51,31,3410,...,2814,3667,2248,1185,762,496,293,1628,1541,828
54,Warriors,2016,39.888889,18.555556,17.777778,46.777778,0.465181,73,9,3532,...,2873,3643,2491,1211,785,555,313,1585,1588,954
55,Wizards,2014,37.771739,16.967391,15.657609,40.032609,0.449209,44,38,3139,...,2801,3663,1969,1233,601,378,350,1707,1610,59
56,Wizards,2016,38.444444,18.000000,16.888889,42.000000,0.468208,41,41,3388,...,2671,3514,1956,1162,693,336,377,1745,1621,148