In [161]:
import pandas as pd
import numpy as np

In [187]:
advTeamStats = pd.read_csv("Basketball_Stats/advanced_team_stats.csv")
finalSVUStats = pd.read_csv("Basketball_Stats/final_svu_teams.csv")
miscTeamStats = pd.read_csv("Basketball_Stats/misc_team_stats.csv")
winslosses = pd.read_csv("Basketball_Stats/nbaseas.csv")

In [202]:
advTeamStatsDF = advTeamStats.drop_duplicates()

In [204]:
finalSVUStats.head()

,cfga,cfgm,dfga,dfgm,dist,drbc,ftast,game_id,opponent_id,orbc,pass,period,sast,season,spd,tchs,team_id,ufga,ufgm,team
0,39,17,33,13,9.99,56,3,21400008,1610612761,23,127,f,9,2014,0,127,1610612737,41,23,Hawks
1,28,12,26,17,9.99,58,4,21400032,1610612754,12,127,f,5,2014,0,127,1610612737,41,23,Hawks
2,51,23,35,19,9.99,50,1,21400064,1610612759,32,127,f,3,2014,0,127,1610612737,41,15,Hawks
3,45,21,34,23,9.99,53,1,21400071,1610612766,14,127,f,6,2014,0,127,1610612737,48,22,Hawks
4,42,19,35,23,9.99,52,3,21400084,1610612752,21,127,f,4,2014,0,127,1610612737,39,14,Hawks

In [205]:
miscTeamStats.head()

,blk,blka,game_id,opp_pts_2nd_chance,opp_pts_fb,opp_pts_off_tov,opp_pts_paint,opponent_id,period,pf,pfd,pts_2nd_chance,pts_fb,pts_off_tov,pts_paint,season,team_id,team
0,8,9,21400008,26,18,23,40,1610612761,f,24,22,11,10,14,36,2014,1610612737,Hawks
1,6,5,21400032,24,5,13,26,1610612754,f,20,26,5,15,20,28,2014,1610612737,Hawks
2,5,9,21400064,14,18,15,34,1610612759,f,25,15,13,11,14,40,2014,1610612737,Hawks
3,2,7,21400071,22,1,22,50,1610612766,f,30,28,11,15,18,38,2014,1610612737,Hawks
4,5,6,21400084,15,9,12,40,1610612752,f,17,29,19,10,17,34,2014,1610612737,Hawks

In [166]:
advmiscteam = advTeamStats.merge(miscTeamStats,on="game_id")

In [167]:
advmiscsvuDF = advmiscteam.merge(finalSVUStats,on="game_id")

In [219]:
teamsDF = advmiscsvuDF[['game_id','team','season','ufga','ufgm','pts_off_tov','pts_paint']]
teamsDF

        game_id     team  season  ufga  ufgm  pts_off_tov  pts_paint
0      21400008    Hawks    2014    41    23           14         36
1      21400008  Raptors    2014    43    17           14         36
2      21400008    Hawks    2014    41    23           23         40
3      21400008  Raptors    2014    43    17           23         40
4      21400008    Hawks    2014    41    23           14         36
5      21400008  Raptors    2014    43    17           14         36
6      21400008    Hawks    2014    41    23           23         40
7      21400008  Raptors    2014    43    17           23         40
8      21400032    Hawks    2014    41    23           20         28
9      21400032   Pacers    2014    32    11           20         28
10     21400032    Hawks    2014    41    23           13         26
11     21400032   Pacers    2014    32    11           13         26
12     21400032    Hawks    2014    41    23           20         28
13     21400032   Pacers    2014    32    11           20         28
14     21400032    Hawks    2014    41    23           13         26
15     21400032   Pacers    2014    32    11           13         26
16     21400064    Hawks    2014    41    15           14         40
17     21400064    Spurs    2014    32    15           14         40
18     21400064    Hawks    2014    41    15           15         34
19     21400064    Spurs    2014    32    15           15         34
20     21400064    Hawks    2014    41    15           14         40
21     21400064    Spurs    2014    32    15           14         40
22     21400064    Hawks    2014    41    15           15         34
23     21400064    Spurs    2014    32    15           15         34
24     21400071    Hawks    2014    48    22           18         38
25     21400071  Hornets    2014    37    18           18         38
26     21400071    Hawks    2014    48    22           22         50
27     21400071  Hornets    2014    37    18           22         50
28     21400071    Hawks    2014    48    22           18         38
29     21400071  Hornets    2014    37    18           18         38
...         ...      ...     ...   ...   ...          ...        ...
23842  21400350     Jazz    2014    30    12           25         52
23843  21400350  Wizards    2014    30    16           25         52
23844  21400350     Jazz    2014    30    12           27         38
23845  21400350  Wizards    2014    30    16           27         38
23846  21400350     Jazz    2014    30    12           25         52
23847  21400350  Wizards    2014    30    16           25         52
23848  21401015     Jazz    2014    38    13           22         42
23849  21401015  Wizards    2014    28    15           22         42
23850  21401015     Jazz    2014    38    13            8         28
23851  21401015  Wizards    2014    28    15            8         28
23852  21401015     Jazz    2014    38    13           22         42
23853  21401015  Wizards    2014    28    15           22         42
23854  21401015     Jazz    2014    38    13            8         28
23855  21401015  Wizards    2014    28    15            8         28
23856  21500654     Jazz    2015    36    13           10         38
23857  21500654  Wizards    2015    36    14           10         38
23858  21500654     Jazz    2015    36    13           27         54
23859  21500654  Wizards    2015    36    14           27         54
23860  21500654     Jazz    2015    36    13           10         38
23861  21500654  Wizards    2015    36    14           10         38
23862  21500654     Jazz    2015    36    13           27         54
23863  21500654  Wizards    2015    36    14           27         54
23864  21500969     Jazz    2015    21    12           20         36
23865  21500969  Wizards    2015    41    21           20         36
23866  21500969     Jazz    2015    21    12           10         32
23867  21500969  Wizards    2015    41    21           10         32
23868  21500969     Jazz    2015    21    12           20         36
23869  21500969  Wizards    2015    41    21           20         36
23870  21500969     Jazz    2015    21    12           10         32
23871  21500969  Wizards    2015    41    21           10         32

[23872 rows x 7 columns]

In [225]:
teamsDF2 = teamsDF.groupby(["team","game_id","season"]).mean()

In [226]:
teamsDF3 = teamsDF2.reset_index()
teamsDF3

         team   game_id  season  ufga  ufgm  pts_off_tov  pts_paint
0       76ers  21400005    2014  22.0   8.0         18.5       40.0
1       76ers  21400023    2014  33.0  13.0         21.5       46.0
2       76ers  21400030    2014  31.0  15.0         25.0       40.0
3       76ers  21400043    2014  36.0  17.0         31.0       33.0
4       76ers  21400058    2014  39.0  17.0         17.0       50.0
5       76ers  21400073    2014  38.0  20.0         14.0       43.0
6       76ers  21400093    2014  33.0  13.0         23.0       45.0
7       76ers  21400120    2014  38.0  10.0         28.0       35.0
8       76ers  21400127    2014  31.0  13.0         26.0       42.0
9       76ers  21400152    2014  39.0  11.0         13.0       41.0
10      76ers  21400162    2014  32.0  11.0         20.0       50.0
11      76ers  21400173    2014  28.0  11.0         21.5       46.0
12      76ers  21400187    2014  36.0  11.0         20.5       35.0
13      76ers  21400200    2014  27.0   7.0         14.5       58.0
14      76ers  21400213    2014  38.0  19.0         23.5       38.0
15      76ers  21400235    2014  41.0  19.0         20.0       47.0
16      76ers  21400249    2014  42.0  18.0         17.5       41.0
17      76ers  21400270    2014  36.0   8.0         16.5       47.0
18      76ers  21400277    2014  44.0  15.0         22.5       37.0
19      76ers  21400288    2014  29.0  12.0         23.5       50.0
20      76ers  21400319    2014  37.0  13.0         19.5       42.0
21      76ers  21400332    2014  34.0  14.0         21.5       30.0
22      76ers  21400345    2014  30.0  14.0         23.0       50.0
23      76ers  21400357    2014  48.0  12.0         25.0       45.0
24      76ers  21400384    2014  29.0  13.0         21.0       36.0
25      76ers  21400405    2014  37.0  12.0         18.5       45.0
26      76ers  21400422    2014  34.0  15.0         20.5       39.0
27      76ers  21400441    2014  18.0   7.0         17.5       48.0
28      76ers  21400450    2014  33.0   9.0         15.5       41.0
29      76ers  21400474    2014  34.0  12.0         28.0       46.0
...       ...       ...     ...   ...   ...          ...        ...
5878  Wizards  21501073    2015  55.0  26.0         17.0       46.0
5879  Wizards  21501096    2015  48.0  23.0         15.0       47.0
5880  Wizards  21501112    2015  40.0  15.0         21.0       45.0
5881  Wizards  21501120    2015  45.0  19.0         19.0       53.0
5882  Wizards  21501137    2015  50.0  21.0         13.5       37.0
5883  Wizards  21501147    2015  52.0  23.0         13.0       46.0
5884  Wizards  21501167    2015  43.0  15.0         16.0       57.0
5885  Wizards  21501182    2015  35.0  16.0         15.0       44.0
5886  Wizards  21501194    2015  34.0  18.0         14.0       36.0
5887  Wizards  21501206    2015  27.0  15.0         19.5       56.0
5888  Wizards  21501221    2015  27.0  13.0         14.5       41.0
5889  Wizards  21600014    2016  41.0  17.0         25.5       46.0
5890  Wizards  21600039    2016  32.0  14.0         16.0       44.0
5891  Wizards  21600055    2016  30.0  16.0         20.5       48.0
5892  Wizards  21600070    2016  38.0  16.0         15.0       40.0
5893  Wizards  21600081    2016  33.0  11.0         11.0       34.0
5894  Wizards  21600094    2016  49.0  22.0         20.5       43.0
5895  Wizards  21600107    2016  44.0  27.0         14.0       41.0
5896  Wizards  21600122    2016  47.0  26.0         15.0       34.0
5897  Wizards  21600133    2016  32.0  13.0         14.5       48.0
5898  Wizards  41400131    2014  38.0  12.0         11.0       48.0
5899  Wizards  41400132    2014  36.0  19.0         16.5       47.0
5900  Wizards  41400133    2014  38.0  15.0         12.0       43.0
5901  Wizards  41400134    2014  41.0  25.0         19.0       40.0
5902  Wizards  41400201    2014  49.0  22.0         14.5       37.0
5903  Wizards  41400202    2014  38.0  17.0         13.5       34.0
5904  Wizards  41400203    2014  41.0  19.0         14.5       41.0
5905  Wizards  41400204    2014  29.0  10.0         15.5       48.0
5906  Wizards  41400205    2014  29.0  12.0         22.5       41.0
5907  Wizards  41400206    2014  44.0  17.0         14.5       45.0

[5908 rows x 7 columns]

In [227]:
teamsDF4 = teamsDF3[['team','season','ufga','ufgm','pts_off_tov','pts_paint']]
teamsDF4

         team  season  ufga  ufgm  pts_off_tov  pts_paint
0       76ers    2014  22.0   8.0         18.5       40.0
1       76ers    2014  33.0  13.0         21.5       46.0
2       76ers    2014  31.0  15.0         25.0       40.0
3       76ers    2014  36.0  17.0         31.0       33.0
4       76ers    2014  39.0  17.0         17.0       50.0
5       76ers    2014  38.0  20.0         14.0       43.0
6       76ers    2014  33.0  13.0         23.0       45.0
7       76ers    2014  38.0  10.0         28.0       35.0
8       76ers    2014  31.0  13.0         26.0       42.0
9       76ers    2014  39.0  11.0         13.0       41.0
10      76ers    2014  32.0  11.0         20.0       50.0
11      76ers    2014  28.0  11.0         21.5       46.0
12      76ers    2014  36.0  11.0         20.5       35.0
13      76ers    2014  27.0   7.0         14.5       58.0
14      76ers    2014  38.0  19.0         23.5       38.0
15      76ers    2014  41.0  19.0         20.0       47.0
16      76ers    2014  42.0  18.0         17.5       41.0
17      76ers    2014  36.0   8.0         16.5       47.0
18      76ers    2014  44.0  15.0         22.5       37.0
19      76ers    2014  29.0  12.0         23.5       50.0
20      76ers    2014  37.0  13.0         19.5       42.0
21      76ers    2014  34.0  14.0         21.5       30.0
22      76ers    2014  30.0  14.0         23.0       50.0
23      76ers    2014  48.0  12.0         25.0       45.0
24      76ers    2014  29.0  13.0         21.0       36.0
25      76ers    2014  37.0  12.0         18.5       45.0
26      76ers    2014  34.0  15.0         20.5       39.0
27      76ers    2014  18.0   7.0         17.5       48.0
28      76ers    2014  33.0   9.0         15.5       41.0
29      76ers    2014  34.0  12.0         28.0       46.0
...       ...     ...   ...   ...          ...        ...
5878  Wizards    2015  55.0  26.0         17.0       46.0
5879  Wizards    2015  48.0  23.0         15.0       47.0
5880  Wizards    2015  40.0  15.0         21.0       45.0
5881  Wizards    2015  45.0  19.0         19.0       53.0
5882  Wizards    2015  50.0  21.0         13.5       37.0
5883  Wizards    2015  52.0  23.0         13.0       46.0
5884  Wizards    2015  43.0  15.0         16.0       57.0
5885  Wizards    2015  35.0  16.0         15.0       44.0
5886  Wizards    2015  34.0  18.0         14.0       36.0
5887  Wizards    2015  27.0  15.0         19.5       56.0
5888  Wizards    2015  27.0  13.0         14.5       41.0
5889  Wizards    2016  41.0  17.0         25.5       46.0
5890  Wizards    2016  32.0  14.0         16.0       44.0
5891  Wizards    2016  30.0  16.0         20.5       48.0
5892  Wizards    2016  38.0  16.0         15.0       40.0
5893  Wizards    2016  33.0  11.0         11.0       34.0
5894  Wizards    2016  49.0  22.0         20.5       43.0
5895  Wizards    2016  44.0  27.0         14.0       41.0
5896  Wizards    2016  47.0  26.0         15.0       34.0
5897  Wizards    2016  32.0  13.0         14.5       48.0
5898  Wizards    2014  38.0  12.0         11.0       48.0
5899  Wizards    2014  36.0  19.0         16.5       47.0
5900  Wizards    2014  38.0  15.0         12.0       43.0
5901  Wizards    2014  41.0  25.0         19.0       40.0
5902  Wizards    2014  49.0  22.0         14.5       37.0
5903  Wizards    2014  38.0  17.0         13.5       34.0
5904  Wizards    2014  41.0  19.0         14.5       41.0
5905  Wizards    2014  29.0  10.0         15.5       48.0
5906  Wizards    2014  29.0  12.0         22.5       41.0
5907  Wizards    2014  44.0  17.0         14.5       45.0

[5908 rows x 6 columns]

df1 = teamsDF4.loc[teamsDF4["team"]=="Bulls"]

writer = pd.ExcelWriter('NBA.xlsx')
df1.to_excel(writer,'Sheet1')

In [228]:
teamsDF5 = teamsDF4.groupby(["team","season"]).mean()
teamsDF6 = teamsDF5.reset_index()
teamsDF6["ufgp"] = teamsDF6["ufgm"] / teamsDF6["ufga"]
teamsDF6.sort_values("ufgp",ascending = False).head()

        team  season       ufga       ufgm  pts_off_tov  pts_paint      ufgp
85  Warriors    2015  40.228155  19.873786    16.713592  44.048544  0.494027
89   Wizards    2016  38.444444  18.000000    16.888889  42.000000  0.468208
84  Warriors    2014  39.825243  18.601942    17.111650  43.019417  0.467089
86  Warriors    2016  39.888889  18.555556    17.777778  46.777778  0.465181
15  Clippers    2014  42.312500  19.604167    15.432292  39.135417  0.463319

df1 = teamsDF5
writer = pd.ExcelWriter('NBADF.xlsx')
df1.to_excel(writer,'Sheet1')

In [229]:
winslosses2 = winslosses.rename(columns={"Team":"team","Season":"season"})
winslosses2.head()

       team  Wins  Losses  season
0     Spurs    62      20    2014
1   Thunder    59      23    2014
2  Clippers    57      25    2014
3    Pacers    56      26    2014
4   Rockets    54      28    2014

In [230]:
FinalNBADF = teamsDF6.merge(winslosses2,on=["team","season"])

In [231]:
FinalNBADF.sort_values("Wins",ascending=False).head()

,team,season,ufga,ufgm,pts_off_tov,pts_paint,ufgp,Wins,Losses
54,Warriors,2016,39.888889,18.555556,17.777778,46.777778,0.465181,73,9
46,Spurs,2016,38.700000,16.400000,14.200000,36.900000,0.423773,67,15
45,Spurs,2014,37.876404,16.483146,15.494382,43.550562,0.435182,62,20
49,Thunder,2014,37.390244,16.207317,15.969512,43.841463,0.433464,59,23
10,Clippers,2014,42.312500,19.604167,15.432292,39.135417,0.463319,57,25